<!--------------- HEADER --------------->
<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="toolbar">
    <ion-title class="ion-text-center title">Error - Página no encontrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img src="assets/img/error404.svg"></ion-img>
  
  <ion-button class="recuperar" expand="block" [routerLink]="['/login']">
    <ion-icon name="home" slot="start"></ion-icon>Volver al Login.
  </ion-button>
</ion-content>
