.toolbar{
    padding-top: 20px;
    padding-bottom: 15px;
    color: black; 
    --background: transparent;
}
.title{
    font-size: 20px;
}
.titulo {
    background: -webkit-linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
.recuperar{
    --border-radius: 30px;
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 15px;
    color: white; 
    --background: linear-gradient(122deg, #00DBDE 0%, #FC00FF 100%);
}