//TOOLBAR DE LA PAGINA
.toolbar{
    padding-top: 15px;
    padding-bottom: 10px;
    color: black;
}
//ICONO DE RETROCEDER
.icono{
    color: black;
    padding-left: 4px;
}
//TITULO DENTRO DEL TOOLBAR
.title{
    font-size: 25px;
    font-weight: 600;
    margin-right: 30px;
}
.card{
    margin-top: 20px;
    color: white;
    backdrop-filter: blur(25px) saturate(191%);
    --background: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}
ion-item{
    --background: transparent;
    color: white;
    font-size: 20px;
}
ion-label{
    padding-bottom: 10px;
    font-size: 20px;
}
ion-icon {
    color: white;
    font-size: 30px;
    padding-bottom: 10px;
}
