<!--------------- HEADER --------------->
<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-icon [routerLink]="['/inicio']" size="large" name="chevron-back-outline" class="icono"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center title">Ubicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
    <ion-card class="ion-text-center card1">
      <br>
      <h5>Puedes Encontrarnos en la siguiente ubicación:</h5>
      <br>
    </ion-card>
</ion-content>
